@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    @apply text-white bg-gray-800;
    --radius: 0.5rem;
  }

  body {
    @apply flex justify-center min-h-screen min-w-[320px];
  }

  br {
    @apply leading-tight;
  }

  h3 {
    @apply text-2xl font-medium;
  }
  a {
    @apply font-medium;
  }

  button {
    @apply rounded-lg border border-transparent px-5 py-2.5 text-base font-medium bg-gray-900 cursor-pointer transition-colors duration-300 hover:border-indigo-500 focus:outline-none focus:ring-4 focus:ring-indigo-300;
  }
}

@layer utilities {
  @media (prefers-color-scheme: light) {
    :root {
      @apply text-gray-800 bg-white;
    }

    a:hover {
      @apply text-indigo-500;
    }

    button {
      @apply bg-gray-100;
    }
  }
}
