@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    --radius: 0.5rem;
    background-color:#FEFEFE;
  }

  body {
    @apply flex justify-center min-h-screen min-w-[320px];
  }

  br {
    @apply leading-tight;
  }

  h3 {
    @apply text-2xl font-medium;
  }
  a {
    @apply font-medium;
  }

 
}

@layer utilities {
  @media (prefers-color-scheme: light) {
    :root {
      @apply text-gray-800;
    }

    a:hover {
      @apply text-indigo-500;
    }

  }
}
