body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a {
  color: rgb(76, 76, 76);
  text-decoration: none;
}


a:hover {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Raleway", sans-serif;
}

.p{
  margin: 0;
  padding: 0;
}

.section {
  padding: 7rem 0;
}

#root {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.filters a:hover,
.filters a:focus,
.filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.square {
  border: none;
  display: block;
  margin-bottom: 30px;
}

.square .square-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.square .square-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.square .square-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.square .square-wrap>.info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.nav-bar a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}



.square .square-wrap>.info h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.square .square-wrap>.info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.square .square-wrap:hover {
  text-decoration: none;
}

.square .square-wrap:hover img {
  transform: scale(1.00);
}

.square .square-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.square .square-wrap:hover .info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}


.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.form-control:active,
.form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.custom-progress {
  height: 7px;
  border-radius: 0;
}


.custom-progress .progress-bar {
  background: #000;
}

.contact {
  color: rgb(43, 43, 43);
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.quarter {
  max-width: 100%;
}

.art-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.art-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}

.art-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.art-text span {
  font-size: 14px;
  text-transform: uppercase;
}


.art-wrap:hover .art-background,
.art-text {
  visibility: visible;
  opacity: 1;
}

.team p {
  margin-bottom: 7px;
}

.readmore {
  margin: 7px;
}

/* video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
} 
